In [1]:
%reload_ext autoreload
%autoreload 2

In [1]:
from src.data import load_raw_data
rides = load_raw_data(year =2022)
rides

 File 2022-01 already exists
 File 2022-02 already exists
 File 2022-03 already exists
 File 2022-04 already exists
 File 2022-05 already exists
 File 2022-06 already exists
 File 2022-07 already exists
 File 2022-08 already exists
 File 2022-09 already exists
 File 2022-10 already exists
 File 2022-11 already exists
 File 2022-12 already exists

            pickup_datetime  pickup_location_id
0       2022-01-01 00:35:40                 142
1       2022-01-01 00:33:43                 236
2       2022-01-01 00:53:21                 166
3       2022-01-01 00:25:21                 114
4       2022-01-01 00:36:48                  68
...                     ...                 ...
3399544 2022-12-31 23:46:00                  16
3399545 2022-12-31 23:13:24                  75
3399546 2022-12-31 23:00:49                 168
3399547 2022-12-31 23:02:50                 238
3399548 2022-12-31 23:00:15                  85

[39654634 rows x 2 columns]

In [2]:
rides.isnull().sum()

pickup_datetime       0
pickup_location_id    0
dtype: int64

In [3]:
from src.data import transform_raw_data_into_ts_data

rides = transform_raw_data_into_ts_data(rides)

C:\Users\LENOVO\Desktop\taxi_demand_predictor\src\data.py:108: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  rides["pickup_hour"] = rides['pickup_datetime'].dt.floor('H')
C:\Users\LENOVO\Desktop\taxi_demand_predictor\src\data.py:83: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  full_range = pd.date_range(
100%|██████████| 262/262 [00:05<00:00, 49.89it/s]

In [4]:
rides.isnull().sum()

pickup_hour           0
rides                 0
pickup_location_id    0
dtype: int64

In [5]:
from src.data import transform_ts_data_into_features_and_target

features, target = transform_ts_data_into_features_and_target(
rides,
n_sez_len = 24*28*1,
step_size = 24
)

print(f'{features.shape = }')
print(f'{target.shape = }')

  0%|          | 0/262 [00:00<?, ?it/s]

100%|██████████| 262/262 [00:28<00:00,  9.19it/s]

features.shape = (88294, 674)
target.shape = (88294,)

In [6]:
tabular_data = features
tabular_data['target_rides_next_hour'] = target

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')